.main {
    background-color: #277174f9;
    padding: 10rem 3rem 5rem 3rem;
}

.main h1 {
    border-radius: 12px;
    margin-top: 1rem;
    text-transform: initial;
    text-shadow: rgb(48, 48, 48) 0.1rem 0.5rem 0.5rem;
    color: #ffffff;
    font-family: "Poppins";
    font-size: 3.8rem;
    font-weight: 500;
    padding: 15px;
}

.option{
    margin-left: 6rem;
    text-align: left ;
}

.option h2{
    font-family: "Poppins";
    font-weight: 500;
    font-size: 2rem;
}

.section-quarto {
    margin: auto;
    background-color: #fff;
    margin-top: 2rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
    width: fit-content;
    height: fit-content;
    gap: 2rem;
}


.conteudo-quarto{
    display: flex;
    margin: 1rem 0 2rem 6rem;
}

.conteudo-quarto h3{
    margin: auto;
    margin-top: 16rem;
    margin-left: 0;
    font-family: "Poppins";
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: initial;
    width: fit-content;
}
.conteudo-quarto span{
    margin: auto;
    margin-top: 3.3rem;
    width: fit-content;
    font-size: 1.4rem;
    line-height: 2rem;
}


.valor-strong{
    font-family: "Roboto";
    font-size: 2.4rem;
    color: var(--purple)
}



.conteudo-quarto li{
    padding-left: 1rem;
    font-size: 1.2rem;
    text-transform: initial;
    margin-left: 5rem;
    margin-top: 1.4rem;  
    list-style-type: circle; 
    list-style-position: inside;
}


.conteudo-quarto p{
    padding-left: 1rem;
    font-size: 1.2rem;
    text-transform: initial;
    margin-left: 5rem;
    margin-top: 0
}

.title-quarto {
    font-size: 2rem;
    font-family: "Rosario";
    font-weight: 400;
    margin-left: 5rem;
    margin-top: 0;
    padding: 0rem 1rem 1rem;

}

.box-main{
    display: flex;
    flex-direction: column ;
}

.box-main img {
    width: 200px;
    height: 200px;
    border-radius: 2px;
}

.box-main img{ 
    transition: 0.5s;
}

.box-main img:hover{
    transform: scale(1.2);
}
