.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.content{
    margin-left: 10rem;
    max-width: 80rem;
}

.container{
    margin:auto;
    height: auto;
    width: 350px;
    border-radius: 5px;
    background-color: #fff;
}

.home .content h3{
    padding: 3rem;
    text-shadow: rgb(48, 48, 48) 0.1rem 0.5rem 0.5rem;
    text-transform: none ;
    font-size: 6rem;
    font-family: 'Poppins';
    font-weight: 400;
    color: #ffffff
}


.home .content span{
    padding: 3rem;
    font-size: 3.5rem;
    font-family: 'Poppins';
    color: #ffffff;
    line-height: 1.5;
    text-transform: none;
}

.home .content p{
    font-size: 1.6rem;
    color: #ffffff;
    padding: 2rem 3rem;
    line-height: 1.5;
    text-transform: none;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    margin-left: 3rem;
    border-radius: .5rem;
    background:#603AB1;
    color:#fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.8rem;
}

.btn a{
    color: #fff;
}

.btn:hover{
    background: #321e5e;
}

