.container{
    padding: 100px;
    background-color: var(--purple);
}

.item_lista{
    font-size: 1.6rem;
    text-transform: initial;
}

.title_reserva{
    padding-top: 5rem;
    color: white
}

.list_reserva{
    list-style-type: none;
    margin-left: 10px;
    padding: 3rem 2rem 3rem 3rem;
    width: 100%;
    background-color: rgb(245, 245, 245);
    border: 2px solid #b9b9b9;
    border-radius: 10px;
}